# Entorno virtual
venv/
__pycache__/

# Django
*.pyc
*.log
db.sqlite3
/media/
staticfiles/

# Configuración sensible
.env

# VSCode / PyCharm
.vscode/
.idea/

# Node (por si hay integraciones)
node_modules/
