@import "./variables";

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.login-form {
  background-color: $blanco;
  padding: 2rem 3rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;

  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: $terracota;
  }

  input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  button {
    background-color: $terracota;
    border: none;
    &:hover {
      background-color: $rojo;
    }
  }

  a {
    color: $terracota;
    text-decoration: none;
  }
}
